@media (max-width: 1230px) {
  .container {
    max-width: 902px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .modal {
    width: 70%;
  }

  .header__container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .header {
    height: 117px;
    background: linear-gradient(to bottom, #f2f2f2 50%, transparent 50%);
  }

  .header__logo svg {
    width: 110px;
    height: 30px;
  }

  .header__logo {
    margin-bottom: 32px;
  }

  .nav-box__items {
    min-width: 646px;
    margin-left: -7px;
  }

  .header__search {
    margin-left: 30px;
    margin-right: 20px;
  }

  .header__btn-enter {
    padding: 10px 31px;
  }

  .headenav {
    margin-top: 22px;
    min-height: 61px;
  }

  .headenav__nav-items {
    min-width: 490px;
    margin-top: 13px;
    margin-right: 34px;
  }

  .headenav__button {
    margin-right: 0;
  }

  .headenav__button {
    display: flex;
    margin-right: 0;
  }

  .headenav__sec-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .button__blok {
    width: 150px;
  }

  .sec-btn__btn {
    width: 150px;
  }

  .headenav__svg {
    display: none;
  }

  .nav-box__item:last-child {
    margin-right: 0;
  }

  .header__search {
    margin-left: 0;
  }

  .header__search form {
    width: 62px;
  }

  /* Hero======================================== */
  .hero__container {
    padding-top: 92px;
    padding-bottom: 90px;

    background-image: url(../img/hero-mic-tab.png);
    background-position: 93% 46%;
  }

  .hero__title {
    width: 60%;
  }

  .hero__text {
    max-width: 61%;
    margin-bottom: 19px;
    line-height: 150%;
  }

  /* Radio======================================= */
  .radio__container {
    padding-top: 93px;
    padding-bottom: 63px;
  }

  .left-content {
    width: 36%;
    margin-right: 26px;
  }

  .archive__btn {
    width: 62%;
    padding: 10px 43px;
  }

  .right-content {
    margin-top: 12px;
    width: 75%;
  }

  .item-right {
    max-width: 47%;
    margin-right: 30px;
  }

  .item-right:nth-child(3n) {
    margin-right: 30px;
  }

  .item-right:nth-child(2n) {
    margin-right: 0;
  }

  .item-right__content {
    padding-left: 14px;
  }

  /* Guests========================================== */
  .guests__discr {
    width: 68%;
  }

  .accordion__inner-list {
    column-count: 3;
  }
  .guest-cart__title {
    margin-bottom: 10px;
  }

  .guest-cart__social {
    margin-top: 10px;
  }

  .guest-cart__text {
    line-height: 182%;
  }

  .guest-cart-btn {
    padding: 9px 18px;
  }

  /* Playlist======================================== */
  .play__container {
    padding-bottom: 88px;
    flex-direction: column;
  }

  .play__play-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .form-radio {
    width: 64%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .form-radio__item:nth-child(4n) {
    margin-bottom: 0;
  }

  .play-left__text-left {
    display: none;
  }

  .play-bottom {
    display: block;
    padding-top: 32px;
  }

  .play-left__text {
    margin-bottom: 13px;
  }

  .play-right {
    margin-top: 0;
    width: 100%;
    padding-bottom: 20px;
  }

  .play-right__item {
    width: 31%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 28px;
  }

  .play-right__item:nth-child(4n) {
    margin-right: 28px;
  }
  .play-right__item:nth-child(3n) {
    margin-right: 0;
  }

  .play-right__play {
    top: 25%;
    left: 13%;
  }

  .play-right__play::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -21px;
    left: -87px;
    width: 250px;
    height: 108px;
  }

  .play-right__content {
    padding-top: 40px;
    padding-left: 9px;
    padding-right: 8px;
  }

  .play-right__content .play-right__item h3 {
    margin-bottom: 4px;
  }

  .play-right__item p {
    padding-left: 0;
  }

  /* Sale============================================= */
  .sale__container {
    position: relative;
    padding-top: 103px;
    padding-bottom: 95px;
  }

  .sale__img {
    width: 58%;
    margin-left: 0;
    padding-top: 114px;
  }

  .sale__img-new {
    width: 100px;
    height: 100px;
    top: 212px;
    left: 40px;
  }

  .sale__content {
    width: 54%;
  }

  .sale__discr {
    margin-top: 17px;
    line-height: 178%;
  }

  .sale__btn {
    width: 76%;
  }

  /* About================================================ */
  .about__container {
    padding-bottom: 92px;
  }

  .about-top {
    width: 68%;
  }

  .about-top::after {
    display: none;
  }

  .about-top::before {
    top: 13.5%;
    left: 101.5%;
  }

  .about__about-main {
    margin-bottom: 35px;
  }

  .swiper-navigation {
    top: 32%;
    left: -6%;
    width: 112%;
  }

  .about-form {
    max-width: 100%;
  }

  .about-form__input:nth-child(2) {
    margin-right: 27px;
  }
  .about-form__input:nth-child(n + 2) {
    width: 48%;
  }

  .about-form__name {
    margin-bottom: 32px;
  }

  .about-form__email {
    padding-left: 32px;
  }

  .about-form__btn {
    margin-bottom: 26px;
  }

  /* Footer================================== */
  .left {
    margin-right: 25.5%;
  }

  .footer-main__right {
    width: 57%;
  }

  .footer-main__right-items {
    column-gap: 20%;
  }

  .footer__bottom-copyrate {
    padding-top: 0;
  }

  .footer-main {
    margin-bottom: 74px;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 570px;

    padding-left: 15px;
    padding-right: 15px;
  }

  .modal {
    width: 50%;
  }

  .modal__form {
    width: 87%;
  }

  .header {
    height: 124px;
  }

  .header__container {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .nav-box__items {
    display: none;
  }

  .burger-top {
    display: block;
  }

  .header__search {
    margin-left: 190%;
  }

  .header__logo {
    padding-top: 15px;
    margin-bottom: 32px;
  }

  .headenav {
    margin-top: 14px;
  }

  .headenav__sec-btn {
    display: none;
  }

  .headenav__svg {
    display: none;
  }

  .headenav__next {
    display: block;
    padding-top: 21px;
  }

  .headenav__nav-items {
    margin-top: 13px;
    min-width: 500px;
    margin-right: 0px;
  }

  /* Hero=================================================== */
  .hero__container {
    padding-bottom: 92px;
    background-image: none;
    background-position: 0 0;
  }

  .hero__title {
    width: 94%;
  }

  .hero__text {
    max-width: 94%;
  }

  /* Podcasts================================== */
  .podcast__list-podcast {
    display: block;
  }

  .item-blok {
    position: relative;
    width: 100%;
  }

  .item-blok {
    margin-right: 0;
  }

  .item-blok:not(:nth-child(2n)) {
    margin-right: 0;
  }

  /* Radio====================================== */
  .radio__container {
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 31px;
  }

  .left-content {
    width: 47%;
    margin-right: 0;
  }

  .left-content__select {
    width: 100%;
    margin-bottom: 48px;
  }

  .right-content {
    width: 100%;
    margin-top: 0;
  }

  .item-right {
    max-width: 47%;
    margin-right: 30px;
    margin-bottom: 28px;
  }

  .item-right:nth-child(3n) {
    margin-right: 30px;
  }

  .item-right:nth-child(2n) {
    margin-right: 0;
  }

  .archive {
    display: none;
  }

  .archive-bottom {
    display: flex;
    padding-left: 28%;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px solid var(--font-gray);
  }
  .archive-bottom__block {
    padding-left: 20px;
  }

  .archive-bottom__btn {
    width: 34%;
    padding: 10px 19px;
    margin-bottom: 7px;
  }

  .archive__text,
  .archive-bottom__text {
    width: 65%;
  }

  /* Guests==================================== */
  .guests__container {
    padding-bottom: 96px;
  }

  .guests__discr {
    width: 100%;
  }

  .accordion {
    width: 100%;
    margin-right: 0;
  }

  .accordion__content-wrap {
    padding-bottom: 8px;
  }

  .accordion__item {
    margin-bottom: 29px;
  }

  .guests__guest-items {
    flex-direction: column;
  }

  .guest-items__accordion {
    width: 100%;
    margin-right: 0;
  }

  .nav-list__item {
    width: 160px;
  }

  .guests__guest-cart {
    width: 100%;
    padding-top: 48px;
  }

  .guest-cart__social {
    margin-top: 10px;
  }

  .guest-cart__text {
    width: 76%;
  }

  /* Playlist======================================== */
  .play__container {
    padding-bottom: 92px;
  }

  .form-radio {
    width: 98%;
    height: 241px;
  }

  .form-radio__item {
    margin-bottom: 35px;
  }

  .play-right__item {
    width: 47%;
    margin-bottom: 28px;
  }

  .play-right__item:nth-child(3n) {
    margin-right: 30px;
  }

  .play-right__item:nth-child(2n) {
    margin-right: 0;
  }

  .play-right {
    padding-bottom: 11px;
  }

  .play-bottom {
    padding-top: 37px;
  }

  .play-bottom__text span {
    line-height: 0%;
  }

  /* Sale=========================================== */
  .sale__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 93px;
    flex-direction: column;
  }

  .sale__img {
    width: 100%;
    margin-left: 0;
    padding-top: 0px;
  }

  .sale__img-new {
    width: 160px;
    height: 160px;
    top: 53px;
    left: 14px;
  }

  .sale__content {
    width: 100%;
    margin-left: 0;
    padding-top: 9%;
  }

  .sale__discr {
    margin-top: 15px;
  }

  .sale__title {
    width: 80%;
    background-position: -2px 94%;
    padding-bottom: 37px;
  }

  .sale__btn {
    width: 55.5%;
  }

  /* About========================================== */
  .about__container {
    padding-top: 95px;
    padding-bottom: 92px;
  }

  .about-top {
    position: relative;
    display: block;
    width: 100%;
  }

  .about-top__main {
    width: 100%;
  }

  .about-top__subtitle {
    width: 100%;
  }

  .about-top__discr {
    width: 100%;
    padding-bottom: 140px;
  }

  .about-top::after {
    display: block;
    top: 77%;
    left: -21%;
    width: 516px;
    height: 115px;

    background-image: url(../img/about-spiral768.png);
    background-repeat: no-repeat;
  }

  .about-top::before {
    top: 77%;
    left: 79%;
    width: 116px;
    height: 116px;
    background-image: url(../img/about-dawn768.png);
    background-repeat: no-repeat;
  }

  .swiper-navigation {
    top: 29%;
    left: -11%;
    width: 122%;
  }

  .about__about-main {
    margin-bottom: 29px;
  }

  .about-cart {
    width: 47%;
    margin-right: 31px;
  }

  .about-form__input:nth-child(n + 2) {
    width: 100%;
  }

  .about-form__input:nth-child(2) {
    margin-right: 0;
  }

  /* Footer===================================== */
  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 74px;
    align-items: center;
  }

  .left__logo {
    width: 163px;
    margin-bottom: 14px;
  }

  .left__social-items {
    min-width: 148px;
  }

  .left__social-item svg {
    width: 34px;
    height: 34px;
  }

  .footer-main__right {
    width: 100%;
  }

  .footer-main__right-items {
    width: 100%;
    min-height: 108px;
    margin-top: 0;
    column-count: 3;
    column-gap: 24%;
  }

  .footer-main__right-item {
    margin-bottom: 8px;
  }

  .footer-main__right-item:last-child {
    margin-bottom: 0;
  }

  .footer__bottom-line {
    max-width: 900px;
    margin-left: -1px;
  }
}

@media (max-width: 660px) {
  .container {
    max-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .headenav__nav {
    width: 100%;
  }

  .headenav__nav-items {
    min-width: 470px;
  }

  .swiper-navigation {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 330px;
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    font-size: 24px;
  }

  /* Modal====================================== */
  .modal {
    width: 100%;
    padding: 50px 20px;
  }

  .modal__title {
    margin-bottom: 8px;
    color: var(--font-white);
    font-size: 24px;
  }

  .modal__discr {
    font-size: 12px;
    line-height: 150%;
  }

  .modal__discr a {
    font-size: 12px;
    line-height: 150%;
  }

  .modal__form-name,
  .modal__form-password {
    height: 40px;
  }

  .modal__form-btn {
    padding: 12px 50px;
  }

  .modal__social {
    padding-top: 10px;
  }

  .modal__social-title {
    margin-bottom: 13px;

    font-size: 12px;
  }

  .modal__social-items {
    display: flex;
    justify-content: space-between;
  }

  /* Header===================================== */
  .header {
    height: 102px;
  }
  .header__container {
    padding-bottom: 0;
  }

  .header__logo svg {
    width: 87px;
    height: 15px;
  }

  .header__logo {
    padding-top: 20px;
    margin-bottom: 27px;
    margin-right: 0;
  }

  .header__search {
    margin-left: 240%;
    /* margin-right: 0; */
  }

  .header__btn-enter {
    position: absolute;
    right: 11%;
    top: 10px;
    padding: 7px 22px;
  }

  /* headenav======================================== */
  .headenav {
    margin-top: 0;
    min-height: 47px;
  }

  .headenav__nav-items {
    display: none;
  }

  .headenav__next {
    display: none;
  }

   /* Burger top==================================== */
   .hamburger {
    top: 22%;
    left: 31%;
}

.nav::after {
  display: none;
}

.nav::before {
  display: none;
}

.nav {
  margin-top: 50px;
  padding-top: 80px;
  padding-left: 32px;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  background: linear-gradient(to bottom, var(--hover-light) 230px, var(--font-white) 230px);
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 2;
}

.nav__nav-list a {
  margin-bottom: 40px;
  }

  .nav__nav-list a:nth-child(n+4) {
    padding-top: 20px;
    margin-bottom: 26px;
}

.nav__nav-list-mobile {
  display: block;
  padding-top: 30px;
  column-count: 2;
    column-gap: 42%;
    width: 200px;
  }

  .nav__nav-list-mobile a{
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    }

/* Burger bottom================================= */
.mobile-nav__btn-nav {
  width: 100%;
  padding: 16px;
  border: none;
  cursor: pointer;
  display: block;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--btnbg-hover);
}

.mobile-nav__btn-nav svg{
  -webkit-transition: rotate 0.5s ease-in-out;
  -o-transition: rotate 0.5s ease-in-out;
  transition: rotate 0.5s ease-in-out;
}

.mobile-nav__btn-nav:hover, .mobile-nav__btn-nav:focus {
  background-color: var(--fontlig-grey);
}

.mobile-nav__btn-nav svg:focus,
.mobile-nav__btn-nav svg:active{
  transform: rotate(45deg);
}

.mobile-nav {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-nav__content {
  min-width: 160px;
  display: none;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 3px;

  background-color: var(--font-white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mobile-nav__btn {
  color: var(--font-black);
  padding-left: 22px;
  padding-right: 22px;
  text-decoration: none;
  display: grid;
}

.mobile-nav__btn svg {
margin-bottom: 4px;
}

.mobile-nav__text {
text-align: left;
}

.mobile-nav__btn:first-child {
  border-right: 2px solid var(--font-gray);
  }

.mobile-nav__text span:first-child {
  font-size: 10px;
  color: var(--font-gray);
}

.mobile-nav__content button:hover {
  background-color: var(--font-white)
}

.show {
  display:flex;
}

  /* Hero====================================== */
  .hero__container {
    padding-top: 41px;
    padding-bottom: 38px;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 32px;
  }

  .hero__title {
    width: 100%;
  }

  .hero__text {
    max-width: 100%;

    font-size: 14px;
  }

  .hero__btn {
    padding: 16px 45px;
    font-size: 16px;
  }

  /* Podcast=================================== */
  .podcast__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .podcast__title {
    margin-bottom: 20px;
  }

  .item-blok {
    position: relative;
    width: 100%;
    height: 185px;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .item-blok:nth-child(n + 5) {
    display: none;
  }

  .item-blok_active.item-blok:nth-child(-n + 4) {
    display: flex;
  }

  .item-blok_active.item-blok:nth-of-type(n + 4) {
    display: none;
  }

  .item-blok__date {
    bottom: 170px;
  }

  .item-blok__img img {
    width: 100%;
  }

  .content-top__time {
    margin-bottom: 6px;

    font-size: 12px;
  }

  .content-top {
    padding-top: 14px;
    padding-left: 17px;
    padding-bottom: 11px;
  }

  .content-top__title {
    font-size: 16px;
  }

  .content-top__author {
    font-size: 12px;
  }

  .item-blok__btn {
    position: absolute;
    right: 18px;
    top: 96px;
  }

  .item-blok__btn svg {
    width: 36px;
    height: 36px;
  }

  .like {
    padding-left: 35px;
    padding-top: 4px;
  }

  .like__list {
    padding-top: 0;
  }

  .like__item {
    font-size: 12px;
  }

  .like__item:not(:last-child) {
    margin-right: 28px;
  }

  .podcast__btn-next {
    padding: 14px 28px;
    font-size: 16px;
  }

  /* Radio=================================== */
  .radio__container {
    padding-top: 55px;
    padding-bottom: 3px;
  }

  .left-content__title {
    margin-bottom: 17px;
  }

  .choices__inner {
    padding: 7px 4px;
  }

  .left-content__text {
    font-size: 12px;
  }

  .left-content {
    width: 99%;
  }

  .left-content__select {
    margin-bottom: 29px;
  }

  .item-right {
    position: relative;
    max-width: 43%;
    margin-bottom: 29px;
  }

  .item-right__content {
    min-height: 90px;
  }

  .item-right__link {
    position: absolute;
    bottom: 10px;
    left: 3px;
    font-size: 12px;
  }

  .item-right__link::before {
    content: "";
    position: absolute;
    bottom: 80px;
    left: 0px;
    width: 114px;
    height: 53px;
    z-index: 1;
    transition: background-color 0.5s linear;
    overflow: hidden;
  }

  .item-right__link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 112px;
    height: 85px;
    z-index: 2;
    overflow: hidden;
  }

  .item-right__content {
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 15px;
  }

  .item-right__title {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .item-right__discr {
    font-size: 9px;
  }

  .archive-bottom {
    display: flex;
    padding-left: 19%;
    padding-top: 29px;
    padding-bottom: 5px;
    border-top: 1px solid var(--font-gray);
  }

  .archive-bottom__block {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-left: 12px;
  }

  .archive-bottom__text {
    width: 92%;
    margin-bottom: 6px;

    font-size: 14px;
  }

  .archive-bottom__btn {
    width: 55%;
    padding: 8px 11px;
    margin-bottom: 0;
  }

  /* Guests==================================== */
  .guests__container {
    padding-top: 56px;
    padding-bottom: 54px;
  }

  .guests__text {
    margin-bottom: 3px;

    line-height: 120%;
    font-size: 14px;
  }

  .guests__discr {
    width: 100%;
    margin-bottom: 27px;
    font-size: 14px;
  }

  .ac .ac-trigger {
    padding: 20px 29px 17px 0;
  }

  .accordion__heading-text {
    font-size: 16px;
  }

  .head-icon {
    width: 26px;
    height: 26px;
  }

  .accordion__content-wrap {
    padding-bottom: 28px;
  }

  .accordion__inner-list {
    column-count: 2;
    column-gap: 12%;
  }

  .link__text {
    font-size: 14px;
  }

  .accordion__close {
    display: none;
  }

  .guests__guest-cart {
    width: 100%;
    padding-top: 30px;
  }

  .guest-cart__social {
    margin-top: 13px;
  }

  .guest-cart__social-link svg {
    width: 36px;
    height: 36px;
  }

  .guest-cart__social-link:not(:last-child) {
    margin-right: 18px;
  }

  .guest-cart__text {
    width: 100%;
    margin-bottom: 28px;
  }

  .guest-cart-btn {
    padding: 7px 13px;
  }

  /* Play================================ */
  .play__container {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .play-left__title {
    margin-bottom: 16px;
  }

  .play-left__text {
    margin-bottom: 2px;

    font-size: 12px;
  }

  .play-left__form-radio {
    display: none;
  }

  .btn-nav {
    display: flex;
  }

  .play-right__item {
    width: 113px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 30px;
    margin-bottom: 29px;
  }

  .play-right__item:nth-child(2n) {
    margin-right: 0;
  }

  .play-right__item:nth-child(odd) {
    margin-right: 30px;
  }

  .play-right__content {
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 8px;
  }

  .play-right__item h3 {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .play-right__item p {
    font-size: 9px;
  }

  .play-right__play {
    top: 21%;
    left: 29%;
  }

  .play-right__play::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -33px;
    left: -32px;
    width: 112px;
    height: 155px;
  }

  .play-right {
    padding-bottom: 3px;
  }

  .play-bottom {
    padding-top: 26px;
  }

  .play-bottom__text {
    margin-bottom: 9px;
    font-size: 12px;
  }

  /* Sale=================================== */
  .sale__container {
    padding-top: 56px;
    padding-bottom: 53px;
  }

  .sale__img-new {
    width: 62px;
    height: 62px;
    top: 55px;
    left: 32px;
  }

  .sale__content {
    padding-top: 18%;
  }

  .sale__title {
    width: 100%;
    margin-bottom: 11px;
    height: 73px;
  }

  .sale__discr-top {
    margin-top: 15px;
    line-height: 157%;
    margin-bottom: 10px;

    font-size: 14px;
  }

  .sale__discr-bottom {
    margin-top: 13px;
    line-height: 157%;
    margin-bottom: 33px;

    font-size: 14px;
  }

  .sale__price {
    margin-bottom: 21px;

    font-size: 24px;
  }

  .sale__btn {
    width: 100%;
    padding: 12px 15px;

    font-size: 16px;
  }

  /* About====================================== */
  .about__container {
    padding-top: 57px;
    padding-bottom: 50px;
  }

  .about-top__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .about-top__discr {
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 0px;

    color: var(--font-gray);
  }

  .about-top::before {
    display: none;
  }

  .about-top::after {
    display: none;
  }

  .about-cart__title {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 123%;
  }

  .about-cart__discr {
    color: var(--font-gray);
    font-size: 12px;
    line-height: 137%;
  }

  .about-form__textarea {
    width: 99%;
    padding-left: 24px;
    padding-top: 14px;

    border-radius: 20px;
    font-size: 16px;
  }

  .about-form__name {
    width: 99%;
    height: 50px;
    padding-left: 24px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .about-form__email {
    width: 99%;
    height: 50px;
    padding-left: 24px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .about-form__btn {
    width: 173px;
    padding: 15px 42px;
    margin-bottom: 17px;
    border-radius: 40px;
    font-size: 16px;
  }

  .about-form__label {
    font-size: 9px;
  }

  /* Footer====================================== */
  .footer__container {
    padding-top: 54px;
  }

  .left__logo {
    width: 164px;
    padding-left: 0;
  }

  .left {
    margin-bottom: 51px;
  }

  .footer-main {
    margin-bottom: 0px;
  }

  .footer-main__right {
    display: none;
  }

  .footer-mobile {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 27px;
    margin-bottom: 7px;

    background-color: var(--font-black);
  }

  .footer-mobile__items {
    column-count: 2;
    column-gap: 10%;
  }

  .footer-mobile__item {
    margin-bottom: 24px;
    font-size: 12px;
    color: var(--font-white);
    line-height: 100%;
  }

  .footer__bottom-copyrate {
    padding-top: 0px;

    font-size: 12px;
  }
}
